<%- include("templates/header") %>
<form action="/signup" method="get">
  <button>Sign up</button>
</form>
<form action="/login" method="get">
  <button>Log in</button>
</form>
<%- include("templates/footer") %>
