<%- include("templates/header") %>
<h1>Hello <%= username %>!</h1>
<form action="/members" method="get">
  <button>Go to members area</button>
</form>
<form action="/logout" method="get">
  <button>Logout</button>
</form>
<%- include("templates/footer") %>
