<%- include("templates/header") %>
<p>log in</p>
<form action="/loggingIn" method="post">
  <input name="email" type="email" placeholder="example@example.com" />
  <br />
  <input name="password" type="password" placeholder="password" />
  <br />
  <button>Submit</button>
</form>
<%- include("templates/footer") %>
